<div class="container-fluid">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 schools-text d-flex flex-column justify-content-center align-items-center">
    <div class="page-title">
      <label class="mt-4 mb-4">Detalhes do Posts</label>
    </div>
    <div class="row d-flex justify-content-center" *ngIf="post.id && isViewAvailable">
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <table class="table align-middle">
          <thead>
            <tr>
              <th class="table-header">Título</th>
              <th class="table-header">Descrição</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-primary">
              <td>{{ post.title }}</td>
              <td>{{ post.body }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 schools-text d-flex flex-column justify-content-center align-items-center">
        <button type="button" class="btn btn-warning btn-lg"
          title="Voltar para a Listagem de Posts" 
          [routerLink]="['/posts/post-list']">Listagem de Posts</button>
      </div>
    </div>
    <div *ngIf="!isViewAvailable"
      class="col-sm-12 col-md-12 col-lg-8 col-xl-8 schools-text d-flex flex-column justify-content-center align-items-center">
      <span class="view-not-available">
        Não foi possível encontrar o Post para a visualização!
      </span>
      <p></p>
      <span class="back-to-post-list">
        Clique <a href="javascript:void(0)" (click)="navigateToPostDetails()">aqui</a> para visualizar a Listagem de Posts
      </span>
    </div>
  </div>
</div>